@import "../../styles/mixin.scss";

.messageWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
    flex-wrap: wrap;
    text-align: center;
    
    .message{
        font-size: 25px;
        font-weight:700;
        display: block;
        .email{
            color:rgb(36, 36, 169);
        }

        @include width_992{
            width: 750px;
        }

        @include width_768{
            width: 500px;
        }

        @include width_576{
            width: 300px;
            font-size: 20px;
        }
    }
}