$main-text-color: #050505;
$main-background-color: #FFFFFF;
$text-color-gray: #65676B;
$text-color-on-dark-background: #FFFFFF;
$background-color-receiver-message: #E4E6EB;
$btn-main-color: #0084FF;
$btn-blue: #008bd7;
$input-color-main: #F0F2F5;
$hover-background-color: #ecf3ff;

$color-line: #c7cee0;
$color-font-white: #FFFFFF;
$color-font-grey: #7a7a7a;
$box-shadow: rgba(0, 0, 0, 0.1);

$main-border-radius: 6px;
$border: 1px solid $input-color-main;


$active-color:#4172ed;