.wrapper {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  button {
    max-width: 150px;
  }
}

.searchInput {
  max-width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f8f8f8;
  cursor: pointer;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 30px;
  text-align: center;
}

.teacherSection {
  margin-bottom: 20px;
}

.updateButton,
.deleteButton {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.updateButton {
  background-color: #28a745;
  margin-right: 5px;
}

.deleteButton {
  background-color: #dc3545;
}

.resultsCount {
  margin-bottom: 10px;
}

.teacherSection h2 {
  margin-bottom: 10px;
}

.teacherSection .table {
  margin-bottom: 20px;
}

.teacherSection .table th,
.teacherSection .table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.teacherSection .table th {
  background-color: #f0f0f0;
}
