.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 10px;

}

input[type="text"],
input[type="date"],
textarea,
select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"] {
  background-color: #28a745;
  color: white;

  &:hover {
    background-color: #218838;
  }
}

button[type="button"] {
  background-color: #dc3545;
  color: white;

  &:hover {
    background-color: #c82333;
  }
}
