.card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  width: 91%; 
  
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.photo {
  width: 150px;
  height: 100px;
  border-radius: 8px;
  margin-right: 16px;
}

.info {
  text-align: left;
  flex: 1;

  h3 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    color: #333;
  }

  p {
    margin: 4px 0;
    font-size: 16px;
    color: #555;
  }

  .actions {
    margin-top: 10px;

    button {
      width: 98px;
      margin-right: 10px;
      padding: 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: #007bff;
      color: #fff;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      &:nth-child(2) {
        background-color: #28a745;

        &:hover {
          background-color: #218838;
        }
      }

      &:nth-child(3) {
        background-color: #dc3545;

        &:hover {
          background-color: #c82333;
        }
      }
    }
  }
}
