.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.resultsCount {
  text-align: left;
  margin-bottom: 20px;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  text-align: center;

}

th {
  background-color: #f4f4f4;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.actions {
  display: flex;
  gap: 10px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80px;
  text-align: center;
}

.createButton {
  background-color: #007bff;
  color: white;

  &:hover {
    background-color: #0056b3;
  }
}

.updateButton {
  background-color: #007bff;
  color: white;

  &:hover {
    background-color: #0056b3;
  }
}

.deleteButton {
  background-color: #dc3545;
  color: white;

  &:hover {
    background-color: #c82333;
  }
}
