.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto; /* Додано для прокручування */
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 90vh; /* Обмеження висоти модального вікна */
    overflow-y: auto; /* Додано для прокручування */
  }
  
  .form {
    display: flex;
    flex-direction: column;
  
    label {
      margin-bottom: 10px;
      font-weight: bold;
  
      input, select {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
    }
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
  
    button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #007bff;
      color: #fff;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
  
      &:nth-child(2) {
        background-color: #dc3545;
  
        &:hover {
          background-color: #c82333;
        }
      }
    }
  }
  