.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #809c77;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #a8b8a7;
    cursor: not-allowed;
  }
  
  button:hover:enabled {
    background-color: #6b825e;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .apiError {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
  }
  